{% extends "layout/layout.html.twig" %}

{% block body %}
<h1>Hi hello homepage</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="d-flex flex-wrap">
    {% for article in articles %}
        <div class="w-25 p-2">
            <div class="card h-100">
                <div class="card-body d-flex align-content-between flex-wrap">
                    <div>
                        <h2 class="h5 pt-0 mt-0">
                            {{ article.title }}
                        </h2>
                        <div class="text-secondary mb-1">
                            {{ article.content|slice(0, 200)|raw }} ...
                        </div>
                    </div>
                    <a href="{{ path_for('article', { 'slug': article.slug }) }}" title="Read: {{ article.title }}" class="btn btn-sm btn-secondary">Read article</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}