$font-family-sans-serif: "Poppins-Regular", "Helvetica Neue", Arial !default;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";
@import "fonts";
@import "markdown";

// $font-family-sans-serif: "Poppins-Regular", "Helvetica Neue", Arial;

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Poppins-Medium", "Helvetica Neue", Arial;
}

.article-full {
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
        color: #FFF;
    }
}

.card {
    p {
        font-size: 0.9rem;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    .card-text {
        font-size: 0.9rem;
        color: rgba(255,255,255,0.8);
    }
}

.article-content {
    margin-bottom: 5rem;
    color: rgba(255,255,255,0.7);
    img {
        border-radius: 5px;
    }
}

.article-summary {
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    .body {
        padding: 1rem;
    }
    .markdown-body {
        margin-bottom: 1rem;
        color: rgba(255,255,255,0.7);
    }
}