{% extends "layout/layout.html.twig" %}

{% block body %}
    <h1>Articles:</h1>
    
    {% for article in articles %}
        <div class="article-summary">
            <div class="body">
                <h2 class="h4">
                    {{ article.title }}
                </h2>
                <div class="text-secondary markdown-body">
                    {{ article.content|striptags|slice(0, 400)|raw }} ...
                </div>
                <a href="{{ path_for('article', { 'slug': article.slug }) }}" title="Read: {{ article.title }}" class="btn btn-sm btn-secondary">Read article</a>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}