{% extends "layout/layout.html.twig" %}

{% block body %}
    <div class="article-full">
        <h1>{{ article.title }}</h1>
        <div class="article-content markdown-body">
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}